@using MvcOnlineTicariOtomasyon.Models.Classes
@model List<Sales_Transaction>
@{
    ViewBag.Title = "DepartmentPersonelSale";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br/>
<h2> Departman Personel Satış </h2>
<br/>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Personel Adı : @ViewBag.pe</li>
</ol>

<table class="table table-hover">
    <tr>
        <th>Satış ID</th>
        <th>Görsel ID</th>
        <th>Marka</th>
        <th>Ürün</th>
        <th>Cari </th>
        <th>Fiyat</th>
        <th>Miktar </th>
        <th>Toplam</th>
        <th>Tarih</th>
        <th>Yazdır</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.TransactionID</td>
            <td>
                <img src="@x.Product.ProductImage" width="75px" height="50px"/> 
            </td>
            <td>@x.Product.Brand</td>
            <td>@x.Product.ProductName</td>
            <td>@x.Account.AccountName @x.Account.AccountSurname</td>
            <td>@x.Price ₺</td>
            <td>@x.Piece</td>
            <td>@x.TotalPrice ₺</td>
            <td>@x.Date.ToString("dd.MM.yyy")</td>
            <td><a href="#" class="btn btn-success"><i class="fas fa-print"></i></a></td>
            
        </tr>
    }
</table>