@model MvcOnlineTicariOtomasyon.Models.Classes.Account
@{
    ViewBag.Title = "GetAccount";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Cari Güncelleme</h2>
<br />
@using (Html.BeginForm("UpdateAccount", "Account", FormMethod.Post))
{
<div class="form-group">
    @Html.HiddenFor(x => x.AccountID)
    <br />
    <label>Adı </label>
    @Html.TextBoxFor(x => x.AccountName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.AccountName, "", new { @style = "color:red" })
    <br />
    <br />
    <label>Soyadı </label>
    @Html.TextBoxFor(x => x.AccountSurname, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.AccountSurname, "", new { @style = "color:red" })
    <br />
    <br />
    <label>ilçe </label>
    @Html.TextBoxFor(x => x.AccountDistrict, new { @class = "form-control" })
    <br />
    <br />
    <label>Şehir </label>
    @Html.TextBoxFor(x => x.AccountCity, new { @class = "form-control" })
    <br />
    <br />
    <label>Postakodu </label>
    @Html.TextBoxFor(x => x.APostCode, new { @class = "form-control" })
    <br />
    <br />
    <label>Adress </label>
    @Html.TextBoxFor(x => x.AccountAdress, new { @class = "form-control" })
    <br />
    <br />
    <label>E-posta </label>
    @Html.TextBoxFor(x => x.AccountMail, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Güncelle</button>
</div>
}

