@model MvcOnlineTicariOtomasyon.Models.Classes.InvoicesDetail
@{
    ViewBag.Title = "NewDetailInvoice";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Yeni Fatura Kalemi Girişi</h2>
<br />
<form class="form-group" method="post">
    <label>  Açıklama;</label>
    @Html.TextBoxFor(x => x.InvoicesDetails, new { @class = "form-control" })
    <br />
    <label> Miktar;</label>
    @Html.TextBoxFor(x => x.Piece, new { @class = "form-control" })
    <br />
    <label> Birim Fiyat;</label>
    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
    <br />
    <label> Toplam;</label>
    @Html.TextBoxFor(x => x.TotalPrice, new { @class = "form-control" })
    <br />
    <label> Fatura ID ;</label>
    @Html.TextBoxFor(x => x.InvoiceID, new { @class = "form-control" })
    <br />


    <button class="btn btn-primary"> Kaydet</button>
</form>


