
@model MvcOnlineTicariOtomasyon.Models.Classes.Account

@using (Html.BeginForm("UpdateAccount", "AccountPanel", FormMethod.Post))
{
<form class="form-horizontal">

   
    @Html.HiddenFor(x => x.AccountID, new { @class = "form-control" })
    <div class="form-group row">

        <label for="inputName" class="col-sm-2 col-form-label">İsim</label>

        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.AccountName, new { @class = "form-control" })

        </div>

    </div>

    <div class="form-group row">

        <label for="inputName2" class="col-sm-2 col-form-label">Soyad</label>

        <div class="col-sm-10">

            @Html.TextBoxFor(x => x.AccountSurname, new { @class = "form-control" })

        </div>

    </div>


    <div class="form-group row">

        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>

        <div class="col-sm-10">

            @Html.TextBoxFor(x => x.AccountMail, new { @class = "form-control" })

        </div>

    </div>

    <div class="form-group row">

        <label for="inputExperience" class="col-sm-2 col-form-label">Şehir</label>

        <div class="col-sm-10">

            @Html.TextBoxFor(x => x.AccountCity, new { @class = "form-control" })

        </div>

    </div>

    <div class="form-group row">

        <label for="inputSkills" class="col-sm-2 col-form-label">Şifre</label>

        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.AccountPassword, new { @class = "form-control" })
        </div>

    </div>

    <div class="form-group row">

        <div class="offset-sm-2 col-sm-10">

            <div class="checkbox">

                <label>

                    <input type="checkbox">Bilgileri okudum <a href="#">Şifre değiştirme şartlarını</a> kabul ediyorum .

                </label>

            </div>

        </div>

    </div>

    <div class="form-group row">

        <div class="offset-sm-2 col-sm-10">

            <button type="submit" class="btn btn-info">Güncelle</button>

        </div>

    </div>

</form>
}
