@model MvcOnlineTicariOtomasyon.Models.Classes.Sales_Transaction

@{
    ViewBag.Title = "NewSale";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br/>
<h2>Yeni Satış Ekle</h2>
<br />
<form class="form-group" method="post">
    <label> Ürün Adı;</label>
    @Html.DropDownListFor(x => x.ProductID, (List<SelectListItem>)ViewBag.pro1, new { @class = "form-control" })
    <br />
    <label> Cari;</label>
    @Html.DropDownListFor(x => x.AccountID, (List<SelectListItem>)ViewBag.acc2, new { @class = "form-control" })
    <br />
    <label> Personel;</label>
    @Html.DropDownListFor(x => x.EmployeeID, (List<SelectListItem>)ViewBag.emp3, new { @class = "form-control" })
    <br />
    <label> Adet;</label>
    @Html.TextBoxFor(x => x.Piece, new { @class = "form-control" })
    <br />
    <label>  Fiyat;</label>
    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
    <br />
    <label> Toplam;</label>
    @Html.TextBoxFor(x => x.TotalPrice, new { @class = "form-control" })
    <br />


    <button class="btn btn-primary">  Satış Yap</button>
</form>


